[tower]
localhost ansible_connection=local

[automationhub]

[database]

[all:vars]
admin_password='{{admin_password}}'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='{{pg_password}}'
pg_sslmode='prefer'